<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- dataTables -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css"/>
    <script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js" ></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/colreorder/1.1.1/css/dataTables.colReorder.css"/>
    <script src="http://cdn.datatables.net/colreorder/1.1.1/js/dataTables.colReorder.min.js" ></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css"/>
    <script src="http://cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js" ></script>
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>
  <body>
    <h1 class="title"><a href="/">{{ site.name }}</a></h1>
    <a href="https://github.com/booktree/alternatives"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    {{ content }}
    <script>
      $('.data-table').dataTable({
        //"aaSorting": [[0,'asc'], [1,'asc'], [2, 'asc'], [3, 'asc']],
        "aaSorting": [],
        "bFilter": false,
        "bInfo": false,
        "bPaginate": false,
        "dom": "Rlfrtip"
      })
    </script>
  </body>
</html>
